{% extends "base.html" %}

{% block content %}
    <main class="detail__root">
        <div class="card" style="width: 34rem; margin-top: 20pt;">
            <img src="{{ news.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ news.title}}</h5>
                <p class="card-text">{{ news.text }}</p>
                <p class="card-text">Количество просмотров: {{ news.view.quantity }}</p>

                {% for tag in news.tags.all %}
                    <a class="card-text" href="{% url 'tags_list' slug=tag.slug %}">{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
